    .pinia{
        color: #f7ca3f;
    }
    .kiwi{
        color:#B3D871;

    }
    .arandano{
        color:#072A87;
    }
    .manzana{
        color: rgb(140, 33, 14);
    }
    .pera{
        color: rgb(205, 163, 49);
    }
    .limon{
        color: #FEE246;
    }
    .maracuya{
        color: #A7651E;
    }
    .mora{
        color: #271519;
    }
    .mango{
        color: #F25532;
    }
    .banana{
        color: #F5DF4E;
        
    }
